@font-face {
	font-family: 'sadespresso-Icons';
	src: url('fonts/sadespresso-Icons.ttf?y7rgbb') format('truetype'),
		url('fonts/sadespresso-Icons.woff?y7rgbb') format('woff'),
		url('fonts/sadespresso-Icons.svg?y7rgbb#sadespresso-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='sadespresso-icons-'],
[class*=' sadespresso-icons-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'sadespresso-Icons' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga=1';
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga' 1;
	font-feature-settings: 'liga';
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sadespresso-icons-bluesky:before {
	content: '\e900';
}
.sadespresso-icons-discord:before {
	content: '\1f428';
}
.sadespresso-icons-kofi:before {
	content: '\2615';
}
.sadespresso-icons-googleplay:before {
	content: '\25b6';
}
.sadespresso-icons-menu:before {
	content: '\2699';
}
.sadespresso-icons-facebook:before {
	content: '\66';
}
.sadespresso-icons-instagram:before {
	content: '\1f4f7';
}
.sadespresso-icons-location:before {
	content: '\1f4cd';
}
.sadespresso-icons-octocat:before {
	content: '\1f408';
}
.sadespresso-icons-web:before {
	content: '\1f310';
}
.sadespresso-icons-appstore:before {
	content: '\1f34e';
}
.sadespresso-icons-email:before {
	content: '\1f4e7';
}
